<section class="mb-16">
<div class="my-5  md:mb-0 w-full max-w-screen-md mx-auto relative" style="height: 24em;">
    <div class="absolute left-0 bottom-0 w-full h-full z-10"
        style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"></div>
    <img [src]="post?.thumbnailUrl" class="absolute left-0 top-0 w-full h-full z-0 object-cover" />
    <div class="p-4 absolute bottom-0 left-0 z-20">
        <h2 class="text-4xl font-semibold text-gray-100 leading-tight">
            {{post?.title}}
        </h2>
        <div class=" mt-3">
            <p class="font-semibold text-gray-200 text-sm"> Written by {{ post?.authorId }} </p>
            <p class="font-semibold text-gray-400 text-xs"> Posted on {{ formatDate(post?.createdAt) }} </p>
        </div>
    </div>
</div>

<div class="px-4 lg:px-0 mt-12 text-gray-700 max-w-screen-md mx-auto text-lg leading-relaxed">
    <p class="max-w-full break-words pb-6">{{ post?.content }}</p>
</div>

<div class="max-w-3xl mx-auto pt-5">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion ({{ post?.comments?.length ?? 0 }})</h2>
    </div>
    <form class="mb-6">
        <div
            class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
            <label for="comment" class="sr-only">Your comment</label>
            <textarea id="comment" rows="6"
                class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                placeholder="Write a comment..." required></textarea>
        </div>
        <button type="submit"
            class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-gray-600 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
            Post comment
        </button>
    </form>
    
    @for(comment of post?.comments; track comment.authorId) {
        <app-comment [comment]="comment"></app-comment>
    }
</div>

</section>