.container{
    display:flex;
    height: calc(100vh - 200px);
}

.chat-list{
    width: 100%;
    background: #c5cae9;
    border-radius: 16px;
    padding:10px;
    box-shadow: gray 3px 3px 3px;
}

.chat-search{
}