@if (job()) {
  <section class="bg-neutral-300 bg-opacity-50 px-2 py-2 rounded-md mb-16">
    <app-mini-info-card
      infoLink="/jobs/{{ job()!.id }}"
      infoImageUrl="{{ job()!.business.profile.profilePictureUrl }}"
      infoTitle="{{ job()!.position }}"
      infoName="{{ job()!.business.profile.firstName }}"
      infoType="{{ job()!.type }}"
      class="rounded-md"
    />

    <div class="flex flex-col gap-2 mt-5">
      <h2 class="text-4xl font-bold -mb-2">Job Information</h2>
      <p>
        <span class="font-bold">Workplace Type:</span>
        {{ job()!.locationType }}
      </p>
      <p>
        <span class="font-bold">Location:</span>
        {{ job()!.business.profile.address }}
      </p>
      <p>
        <span class="font-bold">Company Name for Job:</span>
        {{ job()!.business.profile.firstName }}
      </p>
      <p>
        <span class="font-bold">Position Title:</span>
        {{ job()!.position }}
      </p>
      <p>
        <span class="font-bold">Skills Wanted:</span>
        {{ job()!.skills.join(", ") }}
      </p>
      <p>
        <span class="font-bold">Job Description:</span>
        <span
          class="unreset"
          [innerHTML]="job()!.description | markdown | async"
        ></span>
      </p>
    </div>

    @if (userStore.user?.profile?.role === userStore.UserRole.USER) {
      @if (
        userStore.user?.profile?.offers?.includes(job()!.id) ||
        userOfferedBusinesses().includes(job()?.business?.uid ?? "")
      ) {
        <button
          class="bg-blue-100 hover:bg-blue-200 rounded-full font-bold text-lg w-full md:w-auto md:px-5 py-2 md:py-1 text-neutral-300 cursor-not-allowed"
          disabled
        >
          Offer Received
        </button>
      } @else if (jobHasApplicant()) {
        <button
          class="bg-blue-100 hover:bg-blue-200 rounded-full font-bold text-lg w-full md:w-auto md:px-5 py-2 md:py-1 text-neutral-300 cursor-not-allowed"
          disabled
        >
          Already Applied
        </button>
      } @else {
        <form (ngSubmit)="applyJob()">
          <button
            class="bg-blue-100 hover:bg-blue-200 rounded-full font-bold text-lg w-full md:w-auto md:px-5 py-2 md:py-1 text-neutral-300"
          >
            Apply
          </button>
        </form>
      }
    }
  </section>
} @else {
  <app-loader />
}
