<section
  class="flex flex-col bg-neutral-300 bg-opacity-50 px-5 py-5 rounded-md mb-5"
>
  <h2 class="text-4xl font-bold mb-2">
    Hello there, {{ userStore.user?.profile?.firstName }}.
  </h2>
  <app-summary-card
    [summaryInfo]="[
      {
        title: 'Applications',
        stats: numApplicants().toString()
      },
      {
        title: 'Job Offers',
        stats: numOffersGiven().toString()
      },
      {
        title: 'Workers',
        stats: '0'
      }
    ]"
    class="mb-2"
  />
  <a
    routerLink="/user/{{ userStore.user?.uid }}"
    class="text-blue-100 hover:text-blue-200 focus:text-blue-200 text-lg font-bold self-end"
  >
    More... 🡒
  </a>
</section>

<section
  class="flex flex-col gap-2 bg-neutral-300 bg-opacity-50 px-5 py-5 rounded-md"
>
  <h2 class="text-4xl font-bold">Applicants</h2>
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2"
  >
    <app-applicants class="col-span-full" [showHeading]="false" />
  </div>

  <a
    routerLink="/applicants"
    class="text-blue-100 hover:text-blue-200 focus:text-blue-200 text-lg font-bold self-end"
  >
    More... 🡒
  </a>
</section>
