<header class="bg-blue-100 body-font">
  <div class="text-white px-5 md:px-32 justify-between flex items-center">
    <div class="flex flex-row">
      <div class="flex font-medium items-center text-white w-full md:w-auto">
        <a routerLink="/home">
          <img
            src="assets/header-logo.png"
            class="w-40 h-15 p-2 hidden md:flex"
            alt="Header Logo"
          />
          <img
            src="assets/footer-logo.png"
            class="w-20 h-15 p-2 md:hidden"
            alt="Header Logo"
          />
        </a>
        <p class="text-xl font-bold md:hidden">{{ displayName() }}</p>
      </div>
      <nav
        class="md:ml-4 md:py-1 md:pl-4 hidden lg:flex flex-wrap items-center text-base justify-center"
      >
        <a class="mr-5 hover:text-blue-200" routerLink="/">Home</a>
        <a class="mr-5 hover:text-blue-200" routerLink="/resources">
          Resources
        </a>
        <a class="mr-5 hover:text-blue-200" routerLink="/forum">Forum</a>
        @if (userStore.isAuthenticated()) {
          <a
            class="mr-5 hover:text-blue-200"
            routerLink="/user/{{ userStore.user?.uid }}"
          >
            Profile
          </a>
        } @else {
          <a class="mr-5 hover:text-blue-200" routerLink="/login"> Profile </a>
        }
      </nav>
    </div>

    <ul class="flex items-center gap-2">
      @if (userStore.isAuthenticated()) {
        <div
          class="md:flex items-center ml-auto mx-4 cursor-pointer transition hover:text-blue-200"
        >
          <a routerLink="/chats">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-mail"
              width="42"
              height="42"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              />
              <path d="M3 7l9 6l9 -6" />
            </svg>
          </a>
        </div>
        <form (ngSubmit)="onSubmitLogout()">
          <button
            class="inline-flex items-center justify-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 text-blue-100"
            type="submit"
          >
            Logout
          </button>
        </form>
      } @else {
        <a routerLink="/login">
          <button
            class="inline-flex items-center justify-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 text-blue-100"
          >
            Sign In
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-1"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </a>

        <a routerLink="/register">
          <button
            class="inline-flex items-center justify-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 text-blue-100"
          >
            Sign Up
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-1"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </a>
      }
    </ul>
  </div>

  <div
    class="fixed bottom-0 left-0 z-50 w-full h-16 bg-blue-100 border-t border-gray-200 block sm:hidden"
  >
    <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
      <a
        type="button"
        class="inline-flex flex-col items-center justify-center px-5 border-gray-200 border-x group"
        routerLink="/"
      >
        <img
          src="/assets/Home.png"
          class="opacity-75 active:opacity-100 focus:opacity-100 group-hover:opacity-100"
        />
        <span
          class="text-sm text-white text-opacity-75 active:text-opacity-100 focus:text-opacity-100 group-hover:text-opacity-100"
          >Home</span
        >
      </a>
      <a
        type="button"
        class="inline-flex flex-col items-center justify-center px-5 border-gray-200 border-x group"
        routerLink="/resources"
      >
        <img
          src="/assets/Resources.png"
          class="opacity-75 active:opacity-100 focus:opacity-100 group-hover:opacity-100"
        />
        <span
          class="text-sm text-white text-opacity-75 active:text-opacity-100 focus:text-opacity-100 group-hover:text-opacity-100"
          >Resources</span
        >
      </a>
      <a
        type="button"
        class="inline-flex flex-col items-center justify-center px-5 border-gray-200 border-x group"
        routerLink="/forum"
      >
        <img
          src="/assets/Forum.png"
          class="opacity-75 active:opacity-100 focus:opacity-100 group-hover:opacity-100"
        />
        <span
          class="text-sm text-white text-opacity-75 active:text-opacity-100 focus:text-opacity-100 group-hover:text-opacity-100"
          >Forum</span
        >
      </a>
      @if (userStore.isAuthenticated()) {
        <a
          type="button"
          class="inline-flex flex-col items-center justify-center px-5 border-gray-200 border-x group"
          routerLink="/user/{{ userStore.user?.uid }}"
        >
          <img
            src="/assets/Profile.png"
            class="opacity-75 active:opacity-100 focus:opacity-100 group-hover:opacity-100"
          />
          <span
            class="text-sm text-white text-opacity-75 active:text-opacity-100 focus:text-opacity-100 group-hover:text-opacity-100"
            >Profile</span
          >
        </a>
      } @else {
        <a
          type="button"
          class="inline-flex flex-col items-center justify-center px-5 border-gray-200 border-x group"
          routerLink="/login"
        >
          <img
            src="/assets/Profile.png"
            class="opacity-75 active:opacity-100 focus:opacity-100 group-hover:opacity-100"
          />
          <span
            class="text-sm text-white text-opacity-75 active:text-opacity-100 focus:text-opacity-100 group-hover:text-opacity-100"
            >Profile</span
          >
        </a>
      }
    </div>
  </div>
</header>
