<section>
  <h1 class="text-5xl font-bold mb-5">Applicants</h1>

  @if (applications().length === 0) {
    <app-loader />
  } @else {
    <div
      class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2"
    >
      @for (job of applications(); track job.jobDetails.id) {
        <app-mini-info-card
          infoLink="/user/{{ job.applicantDetails.uid }}"
          infoImageUrl="{{ job.applicantDetails.profile.profilePictureUrl }}"
          infoTitle="{{ job.jobDetails.position }}"
          infoName="{{ job.applicantDetails.profile.firstName }}"
          infoType="{{ job.jobDetails.type }}"
          class="bg-neutral-300 bg-opacity-50 rounded-md"
        />
      }
    </div>
  }
</section>
