<section>
  @if (fromPage) {
    <h1 class="text-5xl font-bold mb-5">Applicants</h1>
  }

  @if (jobs().length === 0) {
    <app-loader class="col-span-full" />
  } @else {
    @if (totalApplicants() === 0) {
      <p>No Applicants</p>
    } @else {
      <div
        class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2"
      >
        @for (job of jobs(); track job.id) {
          @for (applicant of job.applicants; track applicant.uid) {
            <app-mini-info-card
              infoLink="/user/{{ applicant.uid }}"
              infoImageUrl="{{ applicant.profile.profilePictureUrl }}"
              infoTitle="{{ applicant.profile.firstName }}"
              infoName="{{ job.position }}"
              infoType="{{ job.type }}"
              [ngClass]="{
                'bg-neutral-300 bg-opacity-50 rounded-md': fromPage
              }"
            />
          }
        }
      </div>
    }
  }
</section>
