<section>
  @if (showHeading) {
    <h1 class="text-5xl font-bold mb-5">Applicants</h1>
  }

  @if (jobs().length === 0) {
    <app-loader class="col-span-full" />
  } @else {
    @if (totalApplicants() === 0) {
      <p>No Applicants</p>
    } @else {
      @for (job of jobs(); track job.id) {
        @for (applicant of job.applicants; track applicant.uid) {
          <app-mini-info-card
            infoLink="/user/{{ applicant.uid }}"
            infoImageUrl="{{ applicant.profile.profilePictureUrl }}"
            infoTitle="{{ applicant.profile.firstName }}"
            infoName="{{ job.position }}"
            infoType="{{ job.type }}"
          />
        }
      }
    }
  }
</section>
