<div class="pb-24 lg:py-12 mx-auto mb-16">
  <h1 class="text-5xl font-bold text-black">Resources</h1>

  <div class="mt-6">
    <div class="px-5 py-6 mx-auto bg-white rounded-lg shadow-md">
      <img
        class="w-full max-h-64 object-cover"
        src="../../../assets/hero-bg.png"
        alt="image of two guys fitst bumping"
      />

      <div class="mt-2">
        <h1 class="font-bold text-gray-700 text-3xl">Title</h1>
        <p class="mt-2 text-xl text-gray-600 max-w-full break-words">
          Description
        </p>
      </div>

      <div class="flex items-center justify-between mt-4">
        <a href="/resources/1" class="text-blue-500 hover:underline"
          >Read more</a
        >
        <div>
          <div class="flex items-center justify-between text-slate-500">
            <div class="flex space-x-4 md:space-x-8">
              <div
                class="flex cursor-pointer items-center transition hover:text-slate-600"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
