<div class="container">
    <div class="messages-header">
        <img src="" alt="">
        {{chat()!.users[1].displayName}}
    </div>
    <div class="messages">
            <div *ngFor="let message of (messages$ | async) as messages;">
              {{message.text}} {{formatDate(message.sentDate)}} {{message.senderId}}
            </div>
        <form #messageForm="ngForm" (ngSubmit)="sendMessage(chatId);">
            <label
              for="default-search"
              class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">
              Search
            </label>
            <div class="flex w-full items-end">
              <div class="relative mr-4 w-full text-left">
                <input
            type="text"
            id="message-field"
            name="message-field"
            placeholder="Send Message..."
            class="w-full bg-gray-100 bg-opacity-50 rounded focus:ring-2 focus:ring-indigo-200 focus:bg-transparent border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            [formControl]="messageInput"
          />
              </div>
              <button
                class="inline-flex text-white bg-blue-100 border-0 py-2 px-6 focus:bg-blue-200 hover:bg-blue-200 rounded text-lg"
              >
                Send
              </button>
            </div>
          </form>
    </div>
</div>