<div class="pb-24 mx-auto mb-16">
  <div class="flex justify-between items-center">
    <h1 class="text-5xl font-bold text-black">Forum</h1>
    @if (userStore.isAuthenticated()) {
      <a routerLink="/create-post">
        <button
          class="text-white bg-blue-600 py-2 px-8 focus:outline-none hover:bg-blue-700 rounded text-lg"
        >
          Add New Post
        </button>
      </a>
    }
  </div>

  @if (loading()) {
    <div class="mt-6">
      <app-loader />
    </div>
  } @else {
    <div class="overflow-x-hidden">
      <div class="container flex justify-between mx-auto">
        <div class="w-full">
          @if (posts().length === 0) {
            <p>No posts found</p>
          } @else {
            @for (post of posts(); track post.author.uid) {
              <app-post [post]="post"></app-post>
            }
          }
        </div>
      </div>
    </div>
  }
</div>
