<div class="p-8 mb-16">
  <div class="text-center m-8">
    <h1 class="text-2xl font-semibold text-gray-800">Create An Account</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto">
    <div class="mb-5">
      <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray">
        I am a
      </span>
      <div class="flex justify-around gap-2">
        <div class="w-full">
          <input
            hidden
            class="peer/user"
            type="radio"
            id="user"
            [value]="userStore.UserRole.USER"
            formControlName="role"
          />
          <label
            for="user"
            class="cursor-pointer p-8 block rounded-md font-bold text-center bg-neutral-300 text-blue-100 hover:bg-blue-100 hover:text-neutral-300 peer-checked/user:bg-blue-100 peer-checked/user:text-neutral-300"
          >
            Job Seeker
          </label>
        </div>
        <div class="w-full">
          <input
            hidden
            class="peer/business"
            type="radio"
            id="business"
            [value]="userStore.UserRole.BUSINESS"
            formControlName="role"
          />
          <label
            for="business"
            class="cursor-pointer p-8 block rounded-md font-bold text-center bg-neutral-300 text-blue-100 hover:bg-blue-100 hover:text-neutral-300 peer-checked/business:bg-blue-100 peer-checked/business:text-neutral-300"
          >
            Employer
          </label>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <label
        for="firstName"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray"
      >
        First Name
      </label>
      <input
        id="firstName"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray dark:focus:ring-blue-500 dark:focus:border-blue-500"
        type="text"
        formControlName="firstName"
        placeholder="Steve"
      />
    </div>

    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray"
      >
        Date of Birth
      </label>
      <input
        type="text"
        id="dob"
        name="dob"
        theme="dp-material"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="dateOfBirth"
        placeholder="YYYY-MM-DD"
        [dpDayPicker]="{ format: 'YYYY-MM-DD' }"
      />
    </div>

    <div class="mb-5">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray"
      >
        Email
      </label>
      <input
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray dark:focus:ring-blue-500 dark:focus:border-blue-500"
        type="email"
        formControlName="email"
        placeholder="steve@company.com"
      />
    </div>

    <div class="mb-5">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray"
      >
        Password
      </label>
      <input
        id="password"
        type="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="password"
      />
    </div>

    <div class="mb-5">
      <label
        for="confirmationPassword"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray"
      >
        Confirm Password
      </label>
      <input
        id="confirmationPassword"
        type="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="confirmationPassword"
      />
    </div>

    @if (errorMessage()) {
      <div class="my-4 text-red-500 text-center">{{ errorMessage() }}</div>
    }

    <div class="text-center">
      <button
        type="submit"
        class="text-white bg-blue-100 hover:bg-blue-200 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      >
        Register
      </button>
    </div>
  </form>
</div>
